<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QLSinhVienModel1" connectionString="data source=QUANGDUXNG;initial catalog=QLSinhVien;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EFTurtorial.Properties.Settings.QLSinhVienConnectionString" connectionString="Data Source=QUANGDUXNG;Initial Catalog=QLSinhVien;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="QLSinhVienModelApp" connectionString="data source=QUANGDUXNG;initial catalog=QLSinhVien;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLSinhVienModelAppp" connectionString="data source=QUANGDUXNG;initial catalog=QLSinhVien;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLSinhVienModelApppp" connectionString="data source=Acer;initial catalog=QLSinhVien;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLSinhVienModelAppppp" connectionString="data source=Acer;initial catalog=QLSinhVien;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>